<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark  " >
    <div class="container-fluid">

        <div class="navbar-header">

        <h6>SEACREST ™<br>Sea Sky NAUTICAL LLP <br>e-BOOK / HANDOUTS</h6>
        
        </div>
       
      <div class="navbar-brand">

      <a  href="#">
        <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="Brand">
      </a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a href="#"> About Us</a></li>
        <li class="nav-item"><a href="#"><span class="glyphicon glyphicon-earphone"></span> Contact</a></li>
        
        <li *ngIf="authService.isLoggedIn()" class="nav-item"><a routerLink="/signUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li *ngIf="authService.isLoggedIn()" class="nav-item"><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      
        
        <li *ngIf="!authService.isLoggedIn()" class="nav-item"><a (click)="authService.logout()"><span class="glyphicon glyphicon-user"></span> logout</a></li>
        <li class="nav-item"><a routerLink="/admin/user"><span class="glyphicon glyphicon-log-in"></span> Admin</a></li>
      
      </ul>
    </div>
  </nav> -->
   <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
     <div class="example-button-row">
      <button mat-button routerLink="/home"> <mat-icon>home</mat-icon>Home</button>
  <button mat-button > <mat-icon>info</mat-icon>About</button>
  <button mat-button > <mat-icon>contacts</mat-icon>Contact</button>
  <button mat-button routerLink="/signUp"> <mat-icon>account_circle</mat-icon>Sign Up</button>
  <button mat-button routerLink="/login"> <mat-icon>login</mat-icon>Sign In</button>
  <button mat-button routerLink="/admin/user"> <mat-icon>admin_panel_settings</mat-icon>Admin</button>
 
</div>
  </mat-toolbar>