<div class="footer">
    <div class="row">
        <div class="col-sm-4" >
            <ul class="footer-right">
                
                <li ><a href="#">AERO NAUTICALt</a></li>
                <li ><a href="#"> MERCHANT NAVY</a></li>
                <li ><a href="#">e-BOOKS  / HANDOUTS</a></li>
              </ul>
        </div>
        <div class="col-sm-4" >
            <ul class="footer-middle">
                
                <li ><a href="#">ACCIDENTS/CASE STUDIES</a></li>
                <li ><a href="#"> JOIN US / BECOME SEA SKY MEMBER </a></li>
                <li ><a href="#">TERMS & CONDITIONS </a></li>
              </ul>
        </div>
        <div class="col-sm-4">
            <ul class="footer-left">
                
                <li ><span style="color: black"> AERONAUTICAL – aero@seacrest.in</span></li>
                <li ><span style="color: black">MERCHANT NAVY – marine@seacrest.in</span></li>
                <li ><a href="#">TERMS & CONDITIONS </a></li>
              </ul>
        </div>
      </div>
  </div>
  
