.footer {
    /* position: fixed; */
    /* left: 0; */
    bottom: 0;
    width: 100%;
    background-color: rgb(36, 82, 167);
    color: #f2f2f2;
    padding: 20px;
    /* text-align: center; */
 }
 li{
    padding: 2px;
 }
li>a{
    color: #f2f2f2;
}

ul {
    list-style-type: none;
}
