<app-header></app-header> 

<div class="container">
  <div class="loginformdiv">
    <h2 style="text-align: center;">Sign in</h2>
    <div *ngIf="invalidLogin" class="alert alert-danger">
      Invalid username and/or password
    </div>
 <form [formGroup]="authService.loginform" class="normal-form" (ngSubmit)="onSubmit(authService.loginform.value)">
  
       
       <div class="controles-container ">
          
        <mat-form-field>
            <input formControlName="emailId" matInput placeholder="Email*">
           
            <mat-error>Invalid email address.</mat-error>
          </mat-form-field>

          <mat-form-field >
            <mat-label>Enter your password*</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
            <mat-error>This field is mandatory.</mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
           <button mat-raised-button color="primary" class="submitBtn" type="submit" [disabled]="authService.loginform.invalid">Submit</button>
       
         </div>
</form>
</div> 
</div>
    
<app-footer></app-footer>