<div class="card" style="width:25rem">
    <div class="card-body">
      <h1 style="text-align: center;">Add Subject</h1><br>
      <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
        <!-- <div class="text-center">
          <img [src]="imgSrc" width="350px" height="250px" (click)="fileUploader.click()">
        </div>
        <div class="form-group">
          <label>Select file to upload</label>
          <input type="file" accept="image/*" class="form-control" #fileUploader formControlName="imageUrl"
            (change)="showPreview($event)">
          <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">This field is required.
          </div>
        </div> -->

        <div class="form-group">
            <input class="form-control" formControlName="subjectName" placeholder="subjectName">
            <div class="text-danger" *ngIf="isSubmitted && formControls.subjectName.errors?.required">This field is required.
            </div>
          </div>

        <!-- <div class="form-group">
          <input class="form-control" formControlName="caption" placeholder="Caption"> 
          ​<textarea id="txtArea" rows="5" cols="30" class="form-control" formControlName="Introduction" placeholder="Introduction"></textarea>
          <div class="text-danger" *ngIf="isSubmitted && formControls.Introduction.errors?.required">This field is required.
          </div>
        </div>  -->
       
        <div class="form-group">
          <select formControlName="streamId" class="form-control">
            <!-- <option value="Animal">Animal</option> -->
            <option *ngFor="let i of streams;" value="{{i.id}}" >{{i.value}}</option>
            <!-- <option *ngFor="let i of streams;" value="{{i.id}},{{i.value}}" >{{i.value}}</option> -->
            <!-- <option value="Vehicle">Vehicle</option>
            <option value="Bird">Bird</option> -->
          </select>
        </div>
        <div class="form-row">
          <!-- <div class="form-group col-md-6">
            <a routerLink="/image/list" class="btn btn-primary btn-block float-right">Go To Gallery</a>
          </div> -->
          <div class="form-group col-md-6  addsubjectsubmit">
            <button type="submit" class="btn btn-success btn-block float-right">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>